{%  load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'webgl/css/style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
        <title>CS:S</title>
    </head>

    <body>
        <div class = "page-header">
            <h1 align = center><a href="https://dota4.biz">can't touch this</a></h1>
        </div>

        <div class="content container">
        <div class="row">
            <div class="col-md-8">

            </div>
        </div>
        </div>

<div class="post" align= "center">$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░░░░░░░░░▄▀▄░░░░░░░░░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$
░░░░░░░░░░░░░▄▀░░░▀▄░░░░░░░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$
░░░░░░░░░░░▄▀░░░░▄▀█░░░░░░░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░░░▄▀░░░░▄▀░▄▀░▄▀▄░░░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░▄▀░░░░▄▀░▄▀░▄▀░░░▀▄░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░█▀▄░░░░▀█░▄▀░░░░░░░▀▄░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$
░░░▄▀▄░▀▄░▀▄░░░░▀░░░░▄█▄░░░░▀▄░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░▄▀░░░▀▄░▀▄░▀▄░░░░░▄▀░█░▀▄░░░░▀▄░</br>$data$data$data$data$data$$data$data$data$data$data$ ░█▀▄░░░░▀▄░█▀░░░░░░░▀█░▀▄░▀▄░▄▀█░</br>$data$data$data$data$data$$data$data$data$data$data$ ░▀▄░▀▄░░░░▀░░░░▄█▄░░░░▀▄░▀▄░█░▄▀░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░▀▄░▀▄░░░░░▄▀░█░▀▄░░░░▀▄░▀█▀░░░</br>$data$data$data$data$data$$data$data$data$data$data$
░░░░░▀▄░▀▄░▄▀░▄▀░█▀░░░░▄▀█░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░▀▄░█░▄▀░▄▀░░░░▄▀░▄▀░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░░░▀█▀░▄▀░░░░▄▀░▄▀░░░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░░░░░░░█▀▄░▄▀░▄▀░░░░░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░░░░░░░▀▄░█░▄▀░░░░░░░░░░░░░
</div>

<div class= "post" align="center">
    <p>$POWERED_BY$? - uCoz</p>
</div>
    </body>
</html>