{%  load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'webgl/css/style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
        <link rel="icon" href="{% static 'webgl/img/favicon.ico'%}" type="image/x-icon">
        <title>CS:S</title>

        <script src="{% static 'webgl/js/glMatrix-0.9.5.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'webgl/js/webgl-utils.js' %}"></script>
        <script src="{% static 'webgl/js/triangle.js'%}"></script>

        <script id="shader-fs" type="x-shader/x-fragment">
            precision mediump float;

            varying vec4 vColor;

            void main(void) {
                gl_FragColor = vColor;
            }
        </script>

        <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 aVertexPosition;
        attribute vec4 aVertexColor;

        uniform mat4 uMVMatrix;
        uniform mat4 uPMatrix;

        varying vec4 vColor;

        void main(void) {
            gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
            vColor = aVertexColor;
        }
        </script>
    </head>

    <body onload="webGLStart()";>
        <div class = "page-header">
            <h1 align = center><a href="https://dota4.biz">WebGL demo</a></h1>
        </div>
        <div >
            <p align="center">Triangle and Square why not</p>
            <canvas id="lesson01-canvas" style="border: none;" width="500" height="500"></canvas>
            <input value="Нажми меня" onclick="tick()" type="button">
            <input value="Нажми меня 2" onclick="tick()" type="button">
        </div>

<div class="content">$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░░░░░░░░░▄▀▄░░░░░░░░░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$
░░░░░░░░░░░░░▄▀░░░▀▄░░░░░░░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$
░░░░░░░░░░░▄▀░░░░▄▀█░░░░░░░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░░░▄▀░░░░▄▀░▄▀░▄▀▄░░░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░▄▀░░░░▄▀░▄▀░▄▀░░░▀▄░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░█▀▄░░░░▀█░▄▀░░░░░░░▀▄░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$
░░░▄▀▄░▀▄░▀▄░░░░▀░░░░▄█▄░░░░▀▄░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░▄▀░░░▀▄░▀▄░▀▄░░░░░▄▀░█░▀▄░░░░▀▄░</br>$data$data$data$data$data$$data$data$data$data$data$ ░█▀▄░░░░▀▄░█▀░░░░░░░▀█░▀▄░▀▄░▄▀█░</br>$data$data$data$data$data$$data$data$data$data$data$ ░▀▄░▀▄░░░░▀░░░░▄█▄░░░░▀▄░▀▄░█░▄▀░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░▀▄░▀▄░░░░░▄▀░█░▀▄░░░░▀▄░▀█▀░░░</br>$data$data$data$data$data$$data$data$data$data$data$
░░░░░▀▄░▀▄░▄▀░▄▀░█▀░░░░▄▀█░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░▀▄░█░▄▀░▄▀░░░░▄▀░▄▀░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░░░▀█▀░▄▀░░░░▄▀░▄▀░░░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░░░░░░░█▀▄░▄▀░▄▀░░░░░░░░░░░</br>$data$data$data$data$data$$data$data$data$data$data$ ░░░░░░░░░░░░░▀▄░█░▄▀░░░░░░░░░░░░░
</div>

<div class= "content">
    <p>$POWERED_BY$? - uCoz</p>
</div>

    </body>
</html>
